<!DOCTYPE html>

{% extends "home.html"%}
{% block title %}All Actors{% endblock %}
{% block page_content%}

  <!-- Page Content -->
  <div class="container">
    <br><h1 class="mt-5"><i class="fa fa-star" aria-hidden="true"></i> Actors:</h1>
    <div class="row bottom-margin">
      <a href="/actor/add" class="btn btn-primary" role="button" aria-disabled="true">Add Actors</a>
    </div>
    {% if actors %}
      <table class="table">
        <br><thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
          </tr>
        </thead>
        <tbody>
          {% for actor in actors %}
          <tr>
              <th scope="row">{{actor.id}}</th>
              <td>{{actor.name}}</td>
              <td>{{actor.age}}</td>
              <td>{{actor.gender}}</td>
              <td>
                <a href="/actor/edit/{{actor.id}}" class="btn btn-success" role="button">Edit</a>
                <a href="/actor/delete/{{actor.id}}" class="btn btn-danger" role="button">Delete</a>
                <button class="btn btn-warning delete_ajax_btn" role="button" data-actor-id="{{actor.id}}">Delete Ajax</button>
              </td>
          </tr>
          {% endfor%}
        </tbody>
      </table>
    {% else %}
      <h3>No actors yet.</h3>
    {% endif %}
  </div>

{% endblock%}

{% block scripts%}
{{super()}}
<script>
  $(document).ready(function() {
    $(".delete_ajax_btn").click(function(event) {
      var actor_id = $(this).data("actor-id");
      var row = $(this).parent().parent();
      swal({
          title: "Are you sure?",
          text: "All related movies for this actor will be deleted!",
          type: "warning",
          html: true,
          showCancelButton: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "Yes, delete it!",
          closeOnConfirm: false,
          showLoaderOnConfirm: true
        },
        function(isConfirm) {
          if (isConfirm) {
            $.ajax({
                type: "DELETE",
                url: "/api/actor/" + actor_id,
                success: function(response) {
                  console.log(response);
                  row.remove(); // remove the table row
                  swal({
                    title: "Deleted!",
                    text: response.name + " has been deleted.",
                    type: "success",
                    timer: 2500,
                    showConfirmButton: false
                  });
                }
              })
              .fail(function(error) {
                // console.log(data);
                swal({
                  title: "Oops...",
                  text: "Deletion failed",
                  type: "error",
                  timer: 2000,
                  showConfirmButton: false
                });
              });
          }
        });
    });
  });
</script>
{% endblock%}
