<!DOCTYPE html>

{% extends "home.html"%}
{% block title %}Delete Actor{% endblock %}
{% block page_content%}

  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5"><i class="fa fa-user-times" aria-hidden="true"></i> Delete Actor:</h1>
    <form action="/actor/delete/{{actor.id}}" method="post">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" value="{{actor.name}}" required="true" readonly="true">
      </div>
      <div class="form-group">
        <label>Age</label>
        <textarea class="form-control" name="age" required="true" readonly="true">{{actor.age}}</textarea>
        <label>Gender</label>
        <textarea class="form-control" name="gender" required="true" readonly="true">{{actor.gender}}</textarea>
      </div>
      <button type="submit" class="btn btn-danger" id="delete_btn">Delete</button>
    </form>
  </div>

{% endblock%}

{% block scripts%}
  {{super()}}
  <script>
  $(document).ready(function () {
    $('#delete_btn').click(function () {
      if (! confirm(' Are you sure? All movies related to this actor will be deleted!')) {
        return false;
      }
    })
  });
  </script>
{% endblock%}
