{% extends "home.html"%}
{% block title %}The Members Of The Group{% endblock %}
{% block head%}
  {{ super() }}
{% endblock%}
{% block page_content%}

  <div class="container">
    <h1 class="mt-5"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Members</h1>
    <ul>
      <li>Devarshi Patel: ddpatel@udel.edu</li>
      <li>Yuting Dong: andydong@udel.edu<img src="{{ url_for('static', filename='img/yuting.jpg') }}" class="rounded mx-auto d-block" width="100" height="140"></li>
      <li>Sean Rubin: seanrubi@udel.edu<img src="{{ url_for('static', filename='img/SeanFace.png') }}" class="rounded mx-auto d-block" width="140" height="140"></li>
    </ul>

{% endblock%}
